<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Welcome to the home page</h2>
        <div>
            <h2>github actions</h2>
            <p>github actions is a tool that allows you to automate your workflow</p>
            <a href="{% url 'githubaction_dashboard' %}">github actions</a>
        </div>
        <div>
            <h2>jenkins</h2>
            <p>jenkins is a tool that allows you to automate your workflow</p>
            <a href="{% url 'jenkins_dashboard' %}">jenkins</a>
        </div>
</body>
</html>